<% if current_user %>
<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Project name</th>
      <th>Description</th>
      <th>Project type</th>
      <th>User</th>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.Project_name,tasks_path(:project => {:project_id => project.id})%></td>
        <td><%= project.Description %></td>
        <td><%= project.Project_Type %></td>
        <td><%= project.user_id %></td>
        <td><%= project.task_id %></td>
        <td><%= link_to 'Show', project, :class => "btn primary" %></td>
        <td><%= link_to 'Edit', edit_project_path(project),:class => "btn primary" %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
<% end %>
