<!DOCTYPE html>
<html>
  <head>
    <title>Pms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project Management System</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
       <li>
        <li><%= link_to "My project", projects_path%></li>
        <li><%= link_to "Edit Profile", edit_user_registration_path%></li>
        <li><%= link_to "Signout", destroy_user_session_path, :method => :delete %></li>
       </li>
       <% else %>
         <li><%= link_to "LOGIN" ,new_user_session_path %> </li>
         <li><%= link_to "SIGN UP" , new_user_registration_path %></li>
     <%end%>
    </ul>
  </div>
</nav>
   <div align="center">
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
         <p class="alert alert-danger"><%= alert %></p>
    <% end %>    
      <div class="central_container">
        <%= yield %>
      </div>
    </div>
   </body>
</html>
